.root {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.top-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  background-color: #191919;
  display: flex;
  align-items: center;
  padding-top: 10%;
}

.header-label {
  color: #fff;
  font-size: 6px;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.record-button {
  width: 20%;
  height: 80%;
  max-width: 80%;
  max-height: 80%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-button-visual {
    width: 90%;
    height: 90%;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    background-color: #fff;

    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;

    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
